body{
    background-color: white;
}

h1{
    color: rgb(175, 12, 12);
}
#blackphone{
    text-align: left;
    padding: 5px;
}

#interestelar{
    text-align: left;
    padding: 5px;
} 

#efeitoBorboleta{
    text-align: left;
    padding: 5px;
}

#run{
    text-align: left;
    padding: 5px;
}